__pycache__/
*.pyc

.venv

.env

.idea
.vscode
/secrets/

/site/

.cache
/files/

/deploy/gcp/secrets

postman/
.postman
/regulations/
/logs/

/scratch/
/core-service/storage/

/core-service/tests/unit/ai/benchmark_results/*
.coverage
